<div class="card">
  <div class="header">
    <img class="img-avatar" [src]="comment.user.image.png" />
    <p class="label-username">{{ comment.user.username }}</p>
    <p class="label-created-at">{{ comment.createdAt }}</p>
  </div>

  <p class="label-content">{{ comment.content }}</p>

  <div class="footer">
    <span class="btn-upvote">
      <img src="images/icon-minus.svg" class="btn" />
      {{ comment.score }}
      <img src="images/icon-plus.svg" class="btn" />
    </span>
    <span class="btn btn-primary">
      <img src="images/icon-reply.svg" class="btn" />
      Reply
    </span>
  </div>
</div>

<div class="replies">
  @if (comment.replies.length > 0) { @for (reply of comment.replies; track
  reply) { <app-reply [reply]="reply"></app-reply> } }
</div>
