$moderate-blue: hsl(238, 40%, 52%);
$soft-red: hsl(358, 79%, 66%);
$light-grayish-blue: hsl(239, 57%, 85%);
$pale-red: hsl(357, 100%, 86%);
$dark-blue: hsl(212, 24%, 26%);
$grayish-blue: hsl(211, 10%, 45%);
$light-gray: hsl(223, 19%, 93%);
$very-light-gray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

@media screen and (max-width: 599px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .card {
    padding: 1em;
    border-radius: 0.5em;
    background-color: $white;
    margin-bottom: 1em;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
  }

  .img-avatar {
    width: 2em;
  }

  .label-username {
    color: $dark-blue;
    font-weight: 700;
  }

  .label-logged-in-user {
    font-size: 0.8em;
    font-weight: 500;
    color: $light-gray;
    padding: 0.05em 0.5em 0.16em;
    background-color: $moderate-blue;
    border-radius: 0.2em;
  }

  .label-created-at {
    color: $light-grayish-blue;
    font-weight: 500;
  }

  .label-content {
    line-height: 1.5em;
    color: $grayish-blue;
    margin-bottom: 1em;
  }

  .label-replying-to {
    color: $moderate-blue;
    font-weight: 500;
  }

  .btn {
    display: flex;
    gap: 0.25em;
    cursor: pointer;
    align-items: center;
    font-weight: 500;
  }

  .btn:hover {
    opacity: 0.5;
  }

  .btn-primary {
    color: $moderate-blue;
  }

  .btn-delete {
    color: $soft-red;
  }

  .btn-user-actions {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .btn-upvote {
    display: flex;
    align-items: center;
    gap: 0.75em;
    color: $moderate-blue;
    background-color: $very-light-gray;
    border-radius: 0.5em;
    padding: 0.5em 1em;
  }

  .btn-upvote img {
    padding: 0.5em 0;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1em;
    font-weight: 500;
  }

  .replies {
    padding-left: 1em;
    border-left: 2px solid $light-gray;
  }
}
